<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>About</title>
</head>
<body>
    <h1>About Page</h1>
    <ul>
        <li><a href="/">Home Page</a></li>
        <li><a href="/about">About Page</a></li>
    </ul>
    <p>Taylor Alison Swift (born December 13, 1989) is an American singer-songwriter. Recognized for her songwriting, musical versatility, artistic reinventions, and influence on the music industry, she is a prominent cultural figure of the 21st century.</p>
    <p>Swift began professional songwriting at age 14 and signed with Big Machine Records in 2005 to become a country singer. She released six studio albums under the label, four of them to country radio, starting with her 2006 self-titled album. Her next, Fearless (2008), explored country pop, and its singles "Love Story" and "You Belong with Me" catapulted her to mainstream fame. Speak Now (2010) infused rock influences, while Red (2012) experimented with electronic elements and featured Swift's first Billboard Hot 100 number-one song, "We Are Never Ever Getting Back Together". She departed from her country image with 1989 (2014), a synth-pop album supported by the chart-topping songs "Shake It Off", "Blank Space", and "Bad Blood". Media scrutiny inspired the hip-hop-flavored Reputation (2017) and its number-one single "Look What You Made Me Do".</p>
    <p>With over 200 million records sold globally, Swift is one of the best-selling musicians. She is the most-streamed woman on Spotify and Apple Music, the highest-grossing female performer ever, and the first billionaire with music as the main source of income. </p>
    <script src="js/index.js"></script>
</body>
</html>