<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Albums</title>
</head>
<body>
    <h1>Taylor Swift Albums</h1>
    <ul>
        <li><a href="/">Home Page</a></li>
        <li><a href="/about">About Page</a></li>
    </ul>
    <script src="js/index.js"></script>
    <img src="images/fearless.png" alt="fearless_image">
    <img src="images/1989.png" alt="1989_image">
    <img src="images/lover.png" alt="lover_image">
    <img src="images/folklore.png" alt="folklore_image">
    <img src="images/red.png" alt="red_image">
    <img src="images/speak-now.png" alt="speak-now_image">
    <img src="images/midnights.png" alt="midnights_image">

</body>
</html>